.survey-create {
	padding: 15px;
	border-radius: 4px;
}

.form-group{
	margin-left: 0px!important;
	margin-right: 0px!important;
	margin-bottom: 0px!important;
}
.question-group {
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	padding: 5px;
	margin-top: 5px;
}
.ui-sortable {
	padding-left: 0;
}
.fa {
	font-size: 1.3em;
}
.fa-arrows {
	cursor: move;
}
.delete-icon {
	float: right;
	cursor: pointer;
}
.survey-button {
	padding-top: 10px;
}

.multi-choice-question {
	margin-bottom: 20px;
}
.multi-choice-answer {
	width: calc(100% - 17px);
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px;
}

.multi-choice-add-answer {
	color: blue;
}

.choice-answer {
	margin-right: 5px;
}